Source: openvanilla-modules
Section: utils
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.alioth.debian.org>
Uploaders: Aron Xu <aron@debian.org>
Build-Depends: debhelper (>= 8), autotools-dev, libtool, dh-autoreconf
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/ucimf
Vcs-Git: git://git.debian.org/pkg-ime/openvanilla-modules.git
Vcs-Browser: http://git.debian.org/?p=pkg-ime/openvanilla-modules.git

Package: openvanilla-imgeneric
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: generic library of openvanilla input method
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's generic library files.

Package: openvanilla-imgeneric-data-ja
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: Japanese metapackage of openvanilla input method
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This metapackage pulls in openvanilla's Japanese data files, including:
 *

Package: openvanilla-imgeneric-data-ko
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: libraries of openvanilla input method - Korean data files
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's Korean data files.

Package: openvanilla-imgeneric-data-th
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: libraries of openvanilla input method - Thai data files
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's Thai data files.

Package: openvanilla-imgeneric-data-vi
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: libraries of openvanilla input method - Vietnamese data files
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's Vietnamese data files.

Package: openvanilla-imgeneric-data-zh-cn
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: libraries of openvanilla input method - Chinese (Simplified) data files
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's Chinese (Simplified) data files.

Package: openvanilla-imgeneric-data-zh-hk
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: libraries of openvanilla input method - Chinese (Hongkong) data files
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's Chinese (Hongkong) data files.

Package: openvanilla-imgeneric-data-zh-tw
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvanilla-imgeneric
Description: libraries of openvanilla input method - Chinese (Traditional) data files
 OpenVanilla is a collection of popular CJK and symbol input methods 
 and language tools. 
 .
 This package contains openvanilla's Chinese (Traditional) data files.
