#!/usr/bin/make -f
version=0.9.1
repackv=1

%:
	dh  $@ --with autoreconf
	
override_dh_auto_configure:
	dh_auto_configure -- \
		--libdir=/usr/lib/ \
		--enable-jp_JP \
		--enable-ko_KR \
		--enable-th_TH \
		--enable-vi_VN \
		--enable-zh_CN \
		--enable-zh_HK \
		--enable-zh_TW \
		--enable-zh_TW_hakka \
		--enable-zh_TW_taigi

override_dh_makeshlibs:

get-orig-source:
	rm -rf ../repack
	mkdir ../repack
	uscan --force-download --destdir ../repack --download-current-version
	( \
		cd ../repack ;\
		tar zxf openvanilla-modules-$(version).tar.gz ;\
		cd openvanilla-modules-$(version) ;\
		rm -rf DataTables/dayi3.cin DataTables/tp_hakka_hl.cin DataTables/tp_hakka_sy.cin ;\
		cd .. ;\
		GZIP="--best" tar -czf openvanilla-modules_$(version)+dfsg$(repackv).orig.tar.gz openvanilla-modules-$(version) ;\
		mv openvanilla-modules_$(version)+dfsg$(repackv).orig.tar.gz .. ;\
	)
	rm -rf ../repack

